.reveal section p {
colour: black;
}


.references {
  font-size: 0.6em; /* Passe dies nach Bedarf an */ 
}


.reveal .footer > * {
	color: black; 
        font-size: 0.5em;
	vertical-align: bottom;
	font-family: sans-serif;
	letter-spacing: 2px;
}  

.reveal section ul {
 colour: black; /* Adjust the font size as needed */
}

.reveal section li {
  colour: black;/* You can add other styles if needed */
}

.reveal {
  color: black;
  font-size: 2em; /* Scales all text within the presentation */
}

.citation {
    font-size: 0.6em;
    font-weight: bold;
    color: rgb(0, 0, 139) /* Adjust to your preferred size and colour for citations */
}

a {
    color: rgb(0, 0, 139) !important;
    text-decoration: none; /* Remove underline if desired */
}

a:hover {
    color: rgb(0, 0, 139) !important; /* Optional: Changes color on hover */
    text-decoration: underline; /* Optional: Adds underline on hover */
}
